<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hug.star">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <provider
        android:name="com.facebook.FacebookContentProvider"
        android:authorities="com.facebook.app.FacebookContentProvider1947103785509878"
        android:exported="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/star"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_fb_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".alarm.AlarmActivity"
            android:label="Schedule"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hug.star.MainActivity" />
        </activity>
        <activity
            android:name=".alarm.preferences.AlarmPreferencesActivity"
            android:label="Schedule"
            android:parentActivityName=".alarm.AlarmActivity">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hug.star.alarm.AlarmActivity" />
        </activity>

        <service
            android:name=".alarm.service.AlarmService"
            android:label="@string/app_name"
            android:process="com.example.hug.star.alarm.serviceProcess" />

        <receiver android:name=".alarm.service.AlarmServiceBroadcastReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".alarm.alert.AlarmAlertActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <receiver android:name=".alarm.alert.AlarmAlertBroadcastReciever" />
        <receiver android:name=".alarm.telephony.PhoneStateChangedBroadcastReciever">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <!-- The API key for Google Maps-based APIs is defined as a string resource. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".setting.SettingActivity"
            android:label="Setting" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".LoginActivity" />
        <!-- Facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_fb_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".IntroduceActivity"
            android:label="Introduce"
            android:parentActivityName=".MainActivity"
            />
        <activity android:name=".upload.UploadMeoDuLich" />
        <activity android:name=".upload.ControllerUploadDB" />
        <activity
            android:name=".DetailListview.Details1"
            android:label="Detail"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hug.star.MainActivity" />
        </activity>
        <activity
            android:name=".DetailListview.Meodulich_Details2"
            android:label="Detail"
            android:parentActivityName=".PostActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hug.star.PostActivity" />
        </activity>
        <activity
            android:name=".PostActivity"
            android:label="Travel Tips"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hug.star.MainActivity" />
        </activity>
        <activity android:name=".upload.UploadMainTable" />
        <activity android:name="SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
    </application>

</manifest>